﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="contact.aspx.cs" Inherits="contact" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
   <title>Contact Us</title>
  <meta name="description" content="free website template" />
  <meta name="keywords" content="enter your keywords here" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=9" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
 
</head>
<body>
    <form id="form1" runat="server">
    <div id="main">
    <div id="header">
	  <div id="banner">
	    <div id="welcome">
	      <h1 style="letter-spacing:0.1em">Abacus Real Estates</h1>
	    </div><!--close welcome-->
	    <div id="welcome_slogan">
	      <h1 style="letter-spacing:0.1em">building your dreams</h1>
	    </div><!--close welcome_slogan-->
	  </div><!--close banner-->
    </div><!--close header-->

	<div id="menubar">
      <ul id="menu">
       <li><a href="Default.aspx">Home</a></li>
        <li><a href="contact.aspx">Contact Us</a></li>
        <li><a href="login.aspx">Login</a></li>
        <li><a href="buyer.aspx">Buyer</a></li>
          <li><a href="seller.aspx">Seller</a></li>
          <li><a href="DisplayAllUsers.aspx">Display Users</a></li>
        
      </ul>
    </div><!--close menubar-->	
    
	<div id="site_content">		

	    <!--close sidebar_container-->	
	
      <ul class="slideshow">
        <li class="show"><img height="250" src="images/home_1.jpg" alt="&quot;Enter your caption here&quot;" /></li>
        <li><img width="680" height="250" src="images/home_2.jpg" alt="&quot;Enter your caption here&quot;" /></li>
      </ul>   	 
	 
	  <div id="content">
        <div class="content_item">
		  <h1>&nbsp;</h1>
		  <br style="clear:both"/>
            <div style="padding:0px 0px 0px 2px">
<table border="2" cellspacing="0" cellpadding="0" align="center" frame="border" 
                rules="all" style="border-spacing: inherit; width: 96%; ">
							<tr>
								<td class="dir" style="width: 320px">
								
								<p style="margin-bottom:0;" align="center"><b>Mr. Anshul Gupta</b><br>
								    Aashiaana Wataniya Tower<br>
								    4th Floor,office No.-4<br>
								    Fahad Salem Street<br>
								    Kuwait City<br>
								    Mob. : 00965-55726782<br>
								    Email: <a class="email" href="mailto:akash.soneja@aashiaana.com">
								    anshul.gupta@aashiaana.com</a>
								
								</td>
								<td class="dir" style="width: 320px" align="center">
								
								<p style="margin-bottom:0;" align="center"><b>Mr. Shubham Juneja</b><br>
								    231, Barking Road, East Ham<br>
								    Ph.: +20-8470-5454<br>
								    Fax: +20-8470-0922<br>
								    Mob. : 07713 123456 / 0044796 1234567<br>
								    Email:<span class="style3">shubham.juneja</span><a href="mailto:jagchima@londonresidentials.co.uk">@londonresidentials.co.uk</a><br>
								    Website: 
								<a class="email" target="_blank" href="http://www.londonresidentials.co.uk">
								    www.londonresidentials.co.uk</a>
							</td>
							</tr>
							<tr>
								<td colspan="2">&nbsp;</td>
							</tr>
							<tr>
								<td class="dir" style="width: 320px">
								
                                   
								<p style="margin-bottom:0;" align="center"><b>Ms. Garima Kumar</b><br>
								    3838, Raymert Drivetan, <br>
								    Las Vegas, NV-89121, U.S.A.<br>
								    Ph.: +1-925-623-3377<br>
								    Fax: +1-702-974-3344<br>
								    Email: 
								<span class="style3">garima.kumar</span><a class="email" href="mailto:info@homes4nri.com">@homes4nri.com</a><br>
								    Website: 
								<a class="email" target="_blank" href="http://www.homes4nri.com">
								    www.homes4nri.com</a><br>
								<br>
                                    &nbsp;</td>
								<td class="dir" style="width: 320px" align="center">
								
								<p style="margin-bottom:0;" align="center"><b>Ms. Akanksha Rajhans</b><br>
								    Heartlake Town Centre, <br>
								    180 Sandalwood Pkwy. Brampton, Ontario L6Z 1Y4<br>
								    Ph.: (905) 866-2903<br>
								    Fax: (905) 840-2344<br>
								    Toll-Free: 1-877-317-7151<br>
								    Pager: (905) 840-8400<br>
								    E-mail:
								<a class="email" href="mailto:jolly@apnahome.ca">
								    akanksha@apnahome.ca</a><br>
								    Website:
								<a target="_blank" class="email" href="http://www.apnahome.ca">
								    www.apnahome.ca</a></td>
							</tr>
							
							</table>
                            </div>
		  
		    <!--close content_container-->
            <!--close content_container-->			  
		</div><!--close content_item-->
      </div><!--close content-->   
	</div><!--close site_content--> 
    
	  <!--close content_grey-->   
 
  </div><!--close main-->
  
  <div id="footer">
	<h3 style="letter-spacing:0.1em"> &copy; Copyright Abacus 2013</h3>
  </div><!--close footer--> 
    </form>
</body>
</html>
